# Django Settings
DEBUG=False
# Can be generated with "openssl rand -base64 64" on linux or with "python3 -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=met_une_chaine_aleatoire_tres_longue_ici_pour_la_securite
ALLOWED_HOSTS=localhost,127.0.0.1,kpihx-labs.com

# Database Connection (Interne Docker)
DB_NAME=kpihx_db
DB_USER=admin
DB_PASS=db_password
DB_HOST=postgres
DB_PORT=5432

# Network
# http_proxy=
# https_proxy=